<table>
  <tbody>
    <tr>
      <td colspan="2" style="text-align:center;"><strong>Details</strong></td>
    </tr>
    <tr>
      <th><strong>UUID</strong></th><td>{{uuid}}</td></tr>
      <th><strong>URL</strong></th><td><a href="{{url}}">{{url}}</a></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;"><strong>Essences</strong></td>
    </tr>
    <tr><td></td></tr>
{{#each essencePhrases}}
    <tr>
      <th><strong>{{type}}</strong></th><td>{{text}}</td>
    </tr>
{{/each}}
    <tr><td></td></tr>
    <tr>
      <td colspan="2" style="text-align:center;"><strong>Context</strong></td>
    </tr>
{{#each context}}
    <tr>
      <th><strong>{{type}}</strong></th><td>{{text}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

<h1><a href="{{url}}">{{{ content.title }}}</a></h1>
<p>{{{ bodyXML }}}</p>
