<ul>
  <li><strong>UUID: </strong>{{uuid}}</li>
  <li><strong>URL: </strong><a href="{{url}}">{{url}}</a></li>
</ul>

<ul>
{{#each phrases}}
<li><strong>{{type}}</strong>"{{text}}"</li>
{{/each}}
</ul>

<h1>{{{ content.title }}}</h1>
<p>{{{ bodyXML }}}</p>
